@page
@model AgendaApp.Pages.Agendas.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Contato";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4> </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.zipcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agenda.zipcode)
        </dd>
    </dl>
</div>
<div>
    <a class="btn" asp-page="./Edit" asp-route-id="@Model.Agenda?.Id">Alterar Detalhes do Contato</a> |
    <a class="btn" asp-page="./Index">Voltar para Lista de Contatos</a>
</div> 